.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)), url(../img/top-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: full-start / full-end;
    
    padding: 3rem 3rem 18vh 3rem;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr repeat(3, min-content) 1fr;
    align-items: end;
    position: relative;

    @media only screen and (max-width: $bp-small) {
        padding: 2rem 2rem 18vh 2rem;
        justify-content: center;
    }
}


.header .btn {
        margin-top: 0;
}

.nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;

    &__img {
        margin-right: 2.5rem;
        flex: 1;
    }

    &__text {
        font-size: 3rem;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: $bp-medium) {
    [aria-expanded="true"] ~ ul {
        z-index: 1900;
        transform: translateY(0);
    }
    
    [aria-expanded="true"] > .menu__icon {
        background-color: transparent;
    }

    [aria-expanded="true"] > .menu__icon::before {
        transform: rotate(-135deg);
            top: 0;
    }
    
    [aria-expanded="true"] > .menu__icon::after {
        transform: rotate(135deg);
            top: 0;
    }
}

.menu {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-grey-light-1;
        transform: translateY(-110%);
        transition: all .5s;
    }

  // MENU OFF
    &__button {
        background-color: rgba($color-white, 0.9) ;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        border: none;
        outline: none;
        right: 4rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        cursor: pointer;
        display: none;

        @media only screen and (max-width: $bp-medium) {
            display: block;
            right: 3rem;
        }
        
        @media only screen and (max-width: $bp-small) {
            right: 2.5rem;
            top: 2.5rem;
        }
        
        @media only screen and (max-width: $bp-xsmall) {
            right: 1.5rem;
            top: 1.5rem;
        }

    }

    &__icon {
        position: absolute;
        top: 2.9rem;
        right: 1.5rem;
        
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-1;
            display: inline-block;
            transition: all .2s;
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -.8rem; }    
        &::after { top: .8rem; }
    }

    &__item {
        list-style: none;
        padding-top: 5px;
       
        @media only screen and (max-width: $bp-medium) {
            padding: 1.5rem;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-white;
        font-size: 1.8rem;
        padding: .2rem 2rem;
        position: relative;

        transition: all .3s ease;

        @media only screen and (max-width: $bp-medium) {
            color: $color-black !important;
            font-size: 3.5vh;
        }

        &::after {
            content: "";
            width: 90%;
            height: 3px;
            background-color: $color-yellow;
            display: block;
            position: absolute;
            margin: 0 5%;

            transform: scale(0);
            transition: all .3s ease;
        }
        
        &:focus {
            color: rgba($color-yellow, .8);
        }

        &:active,
        &:hover {
            color: rgba($color-yellow, 1);
        }

        &:active::after,
        &:hover::after {
            transform: scale(1);
        }

        &:focus::after {
            background-color: rgba($color-yellow, .7);
            transform: scale(1);
        }
    }
}

.search {
    
    &__form {
        margin-top: .4rem;
    }

    &__checkbox {
        display: none;
    }


// FUNCTIONALITY
    &__checkbox:checked ~ &__input {
        transform: translate(-18rem, 2rem);
        width: 20rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 10rem;;
        opacity: 1;
        position: absolute;
        color: #222;

        @media only screen and (max-width: $bp-medium) {
            transform: translate(-10rem, 2rem);
        }
    }

    &__checkbox:checked ~ &__input:focus {
        outline: none;
        width: 22rem;
        transform: translate(-21rem, 2rem);
        margin-right: -5rem;

        @media only screen and (max-width: $bp-medium) {
            transform: translate(-10rem, 2rem);
        }
    }

    &__button {     //label
        background-color: transparent;
        border: none;
        width: 2rem;
        height: 2rem;
        line-height: 1;
        cursor: pointer;
        transition: all .2s;
    }
    

    &__icon {        //svg
        fill: $color-yellow;
        width: 2rem;
        height: 2rem;

        @media only screen and (max-width: $bp-medium) {
            width: 3rem;
            height: 3rem;
        }

        &:hover,
        &:active,
        &:focus {
            transform: scale(1.2,1.2);
        }
    }

    &__input {      
        opacity: 0;
        width: 0;
        transition: all .5s;
        position: absolute;
    }
}
